.timerBar {
  border-bottom: 3px solid;
}

.timerStart {
  border-color: green;
}

.timerMiddle {
  border-color: orange;
}

.timerEnd {
  border-color: red;
}

.timerFetching {
  border-color: yellow;
}
